<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title class="ion-text-center">Nuovo Messaggio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-label position="stacked">Destinatario</ion-label>
      <ionic-selectable item-content [(ngModel)]="destinatarioSelezionato" [items]="listaDestinatari"
          itemTextField="nomeCognome" [canSearch]="true" (onSearch)="destinatarioChange($event)"
          searchPlaceholder="Ricerca..." disabled="{{rispondi || invio}}">
      </ionic-selectable>
  </ion-item>
  <ion-item>
      <ion-label position="stacked">Per conoscenza</ion-label>
      <ionic-selectable item-content [(ngModel)]="conoscenzeSelezionate" [items]="listaDestinatari"
          itemTextField="nomeCognome" [canSearch]="true" [isMultiple]="true" (onSearch)="conoscenzaChange($event)"
          searchPlaceholder="Ricerca...">
      </ionic-selectable>
  </ion-item>

  <ion-item>
      <ion-label position="stacked">Oggetto</ion-label>
      <ion-input [(ngModel)]="oggetto" text-left></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="stacked">Messaggio</ion-label>
      <ion-textarea [(ngModel)]="messaggio" text-left></ion-textarea>
  </ion-item>

</ion-content>
<ion-footer class="ion-text-center">
  <ion-toolbar color="primary">
      <ion-grid>
          <ion-row text-center>
              <ion-col (click)="inviaMessaggio()">
                  <ion-icon name="send" style="font-size: 2em;"></ion-icon><br>Invia messaggio
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-footer>