<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title class="ion-text-center">Dispositivo</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="whichPage">
      <ion-segment-button value="Dispositivo" checked (ionSelect)="segmentDispositivoClicked($event)">
          <ion-icon name="information-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Titolarita" (ionSelect)="segmentTitolaritaClicked($event)">
          <ion-icon name="logo-buffer"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Autorizzazioni" (ionSelect)="segmentAutorizzazioniClicked($event)">
          <ion-icon name="hammer"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Mappa" (ionSelect)="segmentMappaClicked($event)">
          <ion-icon name="pin"></ion-icon>
      </ion-segment-button>
      <!--<ion-segment-button value="Immagini" (ionSelect)="segmentImmaginiClicked($event)">
          <ion-icon name="images"></ion-icon>
      </ion-segment-button>-->
  </ion-segment>
</ion-header>
<ion-content>
  <div *ngIf="selectedDispositivo" [ngSwitch]="whichPage">
      <ion-list *ngSwitchCase="'Dispositivo'">
          <ion-item color="primary-lighter" class="ion-section-title">
              <ion-label>Dispositivo</ion-label>
          </ion-item>
          <ion-list-header text-wrap>
              <h3>
                  {{selectedDispositivo.dis_titolo}}
              </h3>
          </ion-list-header>
          <ion-item text-wrap>
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Codice </p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{selectedDispositivo.az_codice_interno}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap>
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Sito </p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{selectedDispositivo.az_ragione_sociale}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap>
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Tipologia </p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{selectedDispositivo.tab_tipo_dispositivo_desc}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap>
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Gestore </p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{selectedDispositivo.dis_gestore_desc}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap *ngIf="!selectedDispositivo.dis_data_attivazione.includes('0001')">
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Data attivazione </p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{selectedDispositivo.dis_data_attivazione | date:'dd/MM/yyyy'}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap *ngIf="!selectedDispositivo.dis_data_disattivazione.includes('0001')">
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Data disattivazione </p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{selectedDispositivo.dis_data_disattivazione | date:'dd/MM/yyyy'}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap>
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Note </p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{selectedDispositivo.dis_descrizione}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <div *ngFor="let p of personalizzazioni">
              
              <ion-item text-wrap *ngIf="p.dis_tipo_campo==='T'|| p.dis_tipo_campo==='S'">
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>{{p.dis_scheda_testo}}</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{p.dis_valore_t}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>

              <ion-item text-wrap *ngIf="p.dis_tipo_campo==='D'">
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>{{p.dis_scheda_testo}}</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{p.dis_valore_d}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>

              <ion-item text-wrap *ngIf="p.dis_tipo_campo==='N'">
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>{{p.dis_scheda_testo}}</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{p.dis_valore_n}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>

              <div *ngIf="p.dis_tipo_campo==='M'">
                <ion-list-header class="item-m">{{p.dis_scheda_testo}}</ion-list-header>
                <ion-item *ngFor="let v of p.dis_valori">
                  <ion-label class="item-m"><small>{{v.dis_testo}}</small></ion-label>
                  <ion-checkbox slot="end" disabled="{{conclusa}}" [checked]="v.dis_valore_scelto!=='N'">
                  </ion-checkbox>
                </ion-item>
              </div>

          </div>
      </ion-list>
      <ion-list *ngSwitchCase="'Titolarita'">
          <ion-item color="primary-lighter" class="ion-section-title">
              <ion-label>Autorizzazioni</ion-label>
          </ion-item>
          <div *ngIf="autorizzazioni.length === 0">
              <ion-item>
                  <p>Nessuna autorizzazione</p>
              </ion-item>
          </div>
          <div *ngFor="let aut of autorizzazioni">
              <ion-item color="light">
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Numero</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              {{aut.dp_emissione_numero}}
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Tipologia</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{aut.tab_tipologia_autorizzazioni_desc}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Ente</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{aut.ec_nominativo}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap *ngIf="!aut.dp_emissione_data.includes('0001')">
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Data emissione</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{aut.dp_emissione_data | date:'dd/MM/yyyy'}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap *ngIf="!aut.dp_scadenza_data.includes('0001')">
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Data scadenza</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{aut.dp_scadenza_data | date:'dd/MM/yyyy'}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
          </div>
          <ion-item color="primary-lighter" class="ion-section-title">
              <ion-label>{{ titolarita.count }}Titolarit&agrave;</ion-label>
          </ion-item>
          <div *ngIf="titolarita.length === 0">
              <ion-item>
                  <p>Nessuna titolarit&agrave;</p>
              </ion-item>
          </div>
          <div *ngFor="let t of titolarita">
              <ion-item color="light">
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Ragione Sociale</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              {{t.di_ragione_sociale}}
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Nominativo</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{t.dp_nominativo}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap *ngIf="!t.dis_da_data.includes('0001')">
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>dal</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{t.dis_da_data | date:'dd/MM/yyyy'}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap *ngIf="!t.dis_a_data.includes('0001')">
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>al</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{t.dis_a_data | date:'dd/MM/yyyy'}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
          </div>
      </ion-list>
      <ion-list *ngSwitchCase="'Autorizzazioni'">
          <ion-item color="primary-lighter" class="ion-section-title">
              <ion-label>Attivit&agrave;</ion-label>
          </ion-item>
          <div *ngIf="attivita.length === 0">
              <ion-item>
                  <p>Nessuna attivita</p>
              </ion-item>
          </div>
          <ion-list>
              <ion-item *ngFor="let attivita of attivita" (click)="goToDetails(attivita)" text-wrap no-padding>
                  <a>
                      <h2><img [src]="getDotPath(attivita)"
                              class="list-dot">{{attivita.att_protocollo + ' - ' + attivita.att_titolo}}</h2>
                      <p>{{attivita.tab_tipo_attivita_desc + ' - ' + attivita.tab_tipo_scadenza_desc}}</p>
                      <p class="indirizzo_sito">{{attivita.az_codice_interno + ' - ' + attivita.az_ragione_sociale}}</p>
                  </a>
              </ion-item>
          </ion-list>
      </ion-list>
      <ion-list *ngSwitchCase="'Mappa'" [style.height.px]="heightMap">
          <div class="mappa">
            <map-component [mapModel]="mapModel" *ngIf="showMap" (onMarkerClicked)="markerClicked($event)">
            </map-component>
          </div>
      </ion-list>
      <ion-list *ngSwitchCase="'Immagini'">
          <ion-item color="primary-lighter" class="ion-section-title">
              <ion-label>Immagini</ion-label>
          </ion-item>
          <ion-item text-wrap>
          </ion-item>
      </ion-list>
  </div>

</ion-content>