.item-m {
    padding-left: 22px;;
}

ion-list ion-item{
    padding: 0.5rem;
}


.list-dot {
    width: 12px;
    margin-right: 3px;
    margin-top: 4px;
    float: left;
}

h3{
    font-size: 25px;
    font-weight: bold;
    padding-left: 8px;
}
