<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title class="ion-text-center">Attività</ion-title>
  </ion-toolbar>
  <!-- (ionChange)="onSegmentChange()" -->
  <ion-segment [(ngModel)]="whichPage">
      <ion-segment-button value="Attivita" checked (ionSelect)="segmentAttivitaClicked($event)">
          <ion-icon name="information-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Assegnazioni" (ionSelect)="segmentAssegnazioniClicked($event)">
          <ion-icon name="person-circle-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Commenti" (ionSelect)="segmentCommentiClicked($event)">
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Immagini" (ionSelect)="segmentImmaginiClicked($event)">
          <ion-icon name="images"></ion-icon>
      </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-list>
      <div [ngSwitch]="whichPage">

          <ion-list *ngSwitchCase="'Attivita'">
              <ion-item color="primary-lighter" class="ion-section-title">
                  <ion-label>Dati Attivit&agrave;</ion-label>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Titolo</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{selectedAttivita.att_titolo}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Sito</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{selectedAttivita.az_codice_interno }} {{selectedAttivita.az_ragione_sociale }}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Categoria</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{selectedAttivita.tab_tipo_attivita_desc }}
                              </p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Tipologia</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{selectedAttivita.tab_tipo_scadenza_desc }}
                              </p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Protocollo</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{selectedAttivita.att_protocollo}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>{{label_data}}</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{value_data | date:'dd/MM/yyyy'}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Descrizione</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{selectedAttivita.att_descrizione}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item>
                  <ion-label position="stacked">Data inizio effettiva</ion-label>
                  <ion-datetime displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="dataInizio" disabled="{{conclusa}}"
                      doneText="OK" cancelText="CANCELLA">
                  </ion-datetime>
              </ion-item>
              <ion-item>
                  <ion-label position="stacked">Data fine effettiva</ion-label>
                  <ion-datetime displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="dataFine" disabled="{{conclusa}}"
                      doneText="OK" cancelText="CANCELLA">
                  </ion-datetime>
              </ion-item>
              <ion-item class="note-item">
                  <ion-label position="stacked">Note sulla chiusura </ion-label>
                  <ion-textarea disabled="{{conclusa}}" [(ngModel)]="note" rows="5"></ion-textarea>
              </ion-item>
              <ion-item-group *ngFor="let pers of listaPersonalizzate">
                  <ion-item *ngIf="pers.tam_tipologia==='T'">
                      <ion-label position="stacked">{{pers.tam_proprieta}}</ion-label>
                      <ion-input disabled="{{conclusa}}" value="{{pers.attivita_modulo_valori.tac_valore_t}}"
                          (ionChange)="valoreTChanged($event, pers.tipo_attivita_modulo_proprieta_key)"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="pers.tam_tipologia==='D'">
                      <ion-label position="stacked">{{pers.tam_proprieta}} </ion-label>
                      <ion-datetime disabled="{{conclusa}}" [(ngModel)]="pers.attivita_modulo_valori.tac_valore_d"
                          displayFormat="DD/MM/YYYY HH:mm"
                          (ionChange)="valoreDChanged($event, pers.tipo_attivita_modulo_proprieta_key)" doneText="OK"
                          cancelText="CANCELLA">
                      </ion-datetime>
                  </ion-item>
                  <ion-item *ngIf="pers.tam_tipologia==='N'">
                      <ion-label position="stacked">{{pers.tam_proprieta}}</ion-label>
                      <ion-input type="number" disabled="{{conclusa}}"
                          value="{{pers.attivita_modulo_valori.tac_valore_n}}"
                          (ionChange)="valoreNChanged($event, pers.tipo_attivita_modulo_proprieta_key)"></ion-input>
                  </ion-item>

                  <ion-item *ngIf="pers.tam_tipologia==='O'">
                      <ion-label position="stacked">{{pers.tam_proprieta}}</ion-label>
                      <ion-toggle disabled="{{conclusa}}" [checked]="pers.c_valori[0].tam_selected ==='S'"
                          (ionChange)="valoreOChanged($event, pers.tipo_attivita_modulo_proprieta_key)"></ion-toggle>
                  </ion-item>

                  <ion-item *ngIf="pers.tam_tipologia==='S'">
                      <ion-label position="stacked">{{pers.tam_proprieta}}</ion-label>
                      <ion-select [(ngModel)]="valoreSKey" disabled="{{conclusa}}"
                          (ionChange)="valoreSChanged($event, pers.c_valori, pers.tipo_attivita_modulo_proprieta_key)">
                          <ion-select-option *ngFor="let valoreS of pers.c_valori"
                              [value]="valoreS.tipo_attivita_modulo_proprieta_valori_key"
                              [selected]="valoreS.tam_selected ==='S'">
                              {{valoreS.tam_testo}}</ion-select-option>
                      </ion-select>
                  </ion-item>

                  <ion-item-group *ngIf="pers.tam_tipologia==='M'">
                      <ion-list-header color="light">{{pers.tam_proprieta}}</ion-list-header> <!-- SELEZIONE MULTIPLA -->
                      <ion-item *ngFor="let valoreM of pers.c_valori">
                          <ion-label>{{valoreM.tam_testo}}</ion-label>
                          <ion-checkbox slot="end" disabled="{{conclusa}}" [checked]="valoreM.tam_selected ==='S'"
                              (ionChange)="valoreMChanged(valoreM.tipo_attivita_modulo_proprieta_valori_key, pers.tipo_attivita_modulo_proprieta_key)">
                          </ion-checkbox>
                      </ion-item>
                  </ion-item-group>
              </ion-item-group>
          </ion-list>

          <ion-list *ngSwitchCase="'Commenti'">
              <ion-item color="primary-lighter" class="ion-section-title">
                  <ion-label>Commenti</ion-label>
              </ion-item>
              <!--<ion-label *ngIf="listaCommenti && listaCommenti.length>0">Commenti</ion-label>-->
              <ion-list>
                  <ion-item *ngIf="!listaCommenti || listaCommenti.length===0">
                      <p>Nessun commento presente</p>
                  </ion-item>
                  <span *ngFor="let com of listaCommenti; let i=index">
                      <ion-item-sliding class="no-bottom-border">
                          <ion-item text-wrap>
                              <ion-avatar slot="{{((myUserKey===com.com_dipendente_key) ? 'start' : 'end')}}">
                                  <img src="../assets/imgs/thumb-user.png">
                              </ion-avatar>
                              <div class="comment-balloon">
                                  <h3>{{com.com_nominativo}} <small>{{com.com_data}}</small></h3>
                                  <p class="anteprima_mess">{{com.com_descrizione}}</p>
                              </div>
                          </ion-item>
                          <ion-item-options side="start" *ngIf="myUserKey===com.com_dipendente_key">
                              <button class="danger" (click)="eliminaCommento(com, undefined)">
                                  <ion-icon name="trash"></ion-icon>
                                  Cestino
                              </button>
                          </ion-item-options>
                          <ion-item-options side="end" *ngIf="false">
                              <button ion-button class="secondary" (click)="rispondiCommento(i)">
                                  <ion-icon name="arrow-undo"></ion-icon>
                                  Rispondi
                              </button>
                          </ion-item-options>
                      </ion-item-sliding>

                      <ion-item-sliding *ngFor="let c of com.c_commenti" class="no-bottom-border">
                          <ion-item text-wrap class="ion-reply">
                              <ion-avatar slot="{{((myUserKey===com.com_dipendente_key) ? 'start' : 'end')}}">
                                  <img src="../assets/imgs/thumb-user.png">
                              </ion-avatar>
                              <div class="comment-balloon">
                                  <h3>{{com.com_nominativo}} <small>{{com.com_data}}</small></h3>
                                  <p class="anteprima_mess">{{com.com_descrizione}}</p>
                              </div>
                          </ion-item>
                          <ion-item-options side="start" *ngIf="myUserKey===com.com_dipendente_key">
                              <button ion-button class="danger" (click)="eliminaCommento(c, com.c_commenti)">
                                  <ion-icon name="trash"></ion-icon>
                                  Cestino
                              </button>
                          </ion-item-options>
                          <ion-item-options side="end" *ngIf="false">
                              <button ion-button class="secondary" (click)="rispondiCommento(i)">
                                  <ion-icon name="arrow-undo"></ion-icon>
                                  Rispondi
                              </button>
                          </ion-item-options>
                      </ion-item-sliding>

                      <div *ngIf="selectedIndexCommento == i">
                          <ion-textarea [(ngModel)]="rispostaTesto"></ion-textarea>
                          <ion-item>
                              <button ion-button (click)="chiudiCommento()">chiudi</button>
                              <button ion-button (click)="inviaRispostaCommento(com)">rispondi</button>
                          </ion-item>
                      </div>
                  </span>
              </ion-list>
          </ion-list>

          <ion-list *ngSwitchCase="'Immagini'">
              <ion-item color="primary-lighter" class="ion-section-title">
                  <ion-label>Immagini</ion-label>
              </ion-item>
              <ion-item-sliding *ngFor="let imm of listaImmagini">
                  <ion-item>
                      <img src="{{imm.img_url+imm.img_file}}" style="height: 200px">
                  </ion-item>
                  <ion-item-options side="start" *ngIf="!conclusa" >
                      <button ion-button class="danger" (click)="presentAlertEliminaImmagine(imm)">
                          <ion-icon name="trash"></ion-icon>
                          Elimina
                      </button>
                  </ion-item-options>
              </ion-item-sliding>
          </ion-list>

          <ion-list *ngSwitchCase="'Assegnazioni'">
              <ion-item color="primary-lighter" class="ion-section-title">
                  <ion-label>Assegnazioni</ion-label>
              </ion-item>
              <ion-item *ngIf="!listaAssegnazioni || listaAssegnazioni.length===0">
                  <p>Non ancora assegnata</p>
              </ion-item>
              <ion-item-sliding *ngFor="let assegnazione of listaAssegnazioni">
                  <ion-item text-wrap>
                      <ion-avatar slot="start">
                          <img src="../assets/imgs/thumb-user.png">
                          <!--<img src="{{mess.url_avatar}}">-->
                      </ion-avatar>
                      <ion-label>
                        <h2>{{assegnazione.dp_cognome}} {{assegnazione.dp_nome}}</h2>
                        <p><small>ruolo aziendale</small> {{assegnazione.tab_ruolo_aziendale_desc}}</p>
                        <p><small>responsabile</small> {{(assegnazione.att_dip_scelta==="R" ? "Sì" : "No")}}</p>
                    </ion-label>
                  </ion-item>
                  <ion-item-options side="end" *ngIf="!conclusa">
                      <button ion-button color="warning" (click)="openMessage(assegnazione)">
                          <ion-icon name="send"></ion-icon>
                          Messaggio
                      </button>
                  </ion-item-options>
              </ion-item-sliding>
          </ion-list>

      </div>
  </ion-list>
</ion-content>
<ion-footer [ngSwitch]="whichPage" class="ion-text-center">
  <span *ngIf="!conclusa">
      <ion-toolbar *ngSwitchCase="'Attivita'" color="primary">
          <ion-grid>
              <ion-row text-center>
                  <ion-col (click)="presentAlertChiudiAttivita()">
                      <ion-icon name="checkmark-done-circle" style="font-size: 2em;"></ion-icon><br>
                      Chiudi Attivita
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-toolbar>
  </span>
  <ion-toolbar *ngSwitchCase="'Commenti'" color="primary" class="ion-text-left">
      <ion-textarea [(ngModel)]="commentoTesto" placeholder="Scrivi un commento..."
          *ngIf="this.selectedAttivita.att_conclusa !== 'S'"></ion-textarea>
      <ion-buttons slot="end" *ngIf="this.selectedAttivita.att_conclusa !== 'S'">
          <button ion-button (click)="salvaCommento()">
              <ion-icon name="send" style="font-size: 2em; padding-left: 10px;"></ion-icon>
          </button>
      </ion-buttons>
  </ion-toolbar>
  <span *ngIf="!conclusa">
      <ion-toolbar *ngSwitchCase="'Immagini'" color="primary">
          <ion-grid>
              <ion-row text-center>
                  <ion-col (click)="presentImmagineActionSheet()">
                      <ion-icon name="add-circle" style="font-size: 2em;"></ion-icon><br>
                      Nuova Immagine
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-toolbar>
  </span>
</ion-footer>
