<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Elenco Siti</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Ricerca..." (ionBlur)="setSitoFiltro($event)" color="primary"></ion-searchbar>
  <ion-item style="--border-style: none;" color="primary">
      <ion-label>Tipologia</ion-label>
      <ion-select [(ngModel)]="tipologiaSelezionata" (ionChange)="setDDLFiltro()">
          <ion-select-option *ngFor="let tipologia of listaTipologie" [value]="tipologia">
              {{tipologia.tab_tipologia_sito_desc}}</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item style="--border-style: none;" color="primary">
      <ion-label>Provincia</ion-label>
      <ion-select [(ngModel)]="provinciaSelezionata" (ionChange)="setDDLFiltro()">
          <ion-select-option *ngFor="let provincia of listaProvince" [value]="provincia">{{provincia.Descrizione}}
          </ion-select-option>
      </ion-select>
  </ion-item>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let sito of listaSiti" (click)="goToDetails($event, sito)" text-wrap>
          <a>
              <h2>{{sito.az_codice_interno}} - {{sito.az_ragione_sociale}}</h2>
              <p>{{sito.tab_tipologia_sito_desc}}</p>
              <p class="indirizzo_sito">{{sito.indirizzo_completo}}</p>
          </a>
      </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles"
    loadingText="Caricamento Siti...">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>