<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Osservazione</ion-title>
    <ion-buttons end>
      <div class="icon-section">
        <i [ngClass]="icon" [ngStyle]="{'color' : color }"></i>
      </div>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment [(ngModel)]="whichPage" *ngIf="selectedOsservazione" (ionChange)="onSegmentChange()">
    <ion-segment-button value="Osservazione" checked (ionSelect)="segmentOsservazioneClicked($event)">
      <ion-icon name="eye"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="Assegnazioni" (ionSelect)="segmentAssegnazioniClicked($event)">
      <ion-icon name="contact"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="Immagini" (ionSelect)="segmentImmaginiClicked($event)">
      <ion-icon name="images"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ion-list>
    <div [ngSwitch]="whichPage">
      <ion-list *ngSwitchCase="'Osservazione'">
        <ion-item color="primary-lighter" class="ion-section-title">
          <ion-label>Osservazione</ion-label>
        </ion-item>
        <ion-item>
          <ion-label stacked>Sito</ion-label>
          <ionic-selectable item-content [(ngModel)]="sitoSelezionato" [items]="listaSiti" disabled="{{conclusa}}"
            itemTextField="azCodiceRagione" [canSearch]="true" (onSelect)="sitoSelected($event)"
            (onSearch)="sitoChange($event)" searchPlaceholder="Ricerca...">
          </ionic-selectable>
        </ion-item>
        <ion-item>
          <ion-label stacked>Tipologia</ion-label>
          <ion-select [(ngModel)]="tipologiaOssSelezionata" (ionChange)="tipologiaChanged()" disabled="{{conclusa}}">
            <ion-select-option *ngFor="let tipologiaOss of listaTipologieOss" [value]="tipologiaOss">
              {{tipologiaOss.tab_tipo_scadenza_desc}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="!isInserimento">
          <ion-label stacked>Protocollo</ion-label>
          <ion-note item-end>
            <p>{{(protocollo)}}</p>
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label stacked>Osservazione</ion-label>
          <ion-input [(ngModel)]="titolo" placeholder="campo obbligatorio" disabled="{{conclusa}}" text-left>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="esiste_dispositivo">
          <ion-label>Relativa ad un dispositivo</ion-label>
          <ion-toggle false [(ngModel)]="relativo" disabled="{{conclusa}}"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="relativo && esiste_dispositivo">
          <ion-label stacked>tipologia dispositivo </ion-label>
          <ion-select [(ngModel)]="tipologiaDispSelezionata" (ionChange)="setTipologiaDispositivo()"
            disabled="{{conclusa}}">
            <ion-select-option *ngFor="let tipologiaDisp of listaTipologieDisp" [value]="tipologiaDisp">
              {{tipologiaDisp.tab_tipo_dispositivo_desc}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="tipologiaDispSelezionata && relativo && esiste_dispositivo">
          <ion-label stacked>dispositivo</ion-label>
          <ion-select [(ngModel)]="dispositivoSelezionato" disabled="{{conclusa}}">
            <ion-select-option *ngFor="let disp of listaDispositivi" [value]="disp">
              {{disp.dis_titolo}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>Descrizione</ion-label>
          <ion-textarea [(ngModel)]="descrizione" placeholder="" disabled="{{conclusa}}" text-left>
          </ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label stacked>Data rilevazione</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="dataRilevazione" disabled="{{conclusa}}"
            doneText="OK" cancelText="CANCELLA">
          </ion-datetime>
        </ion-item>

        <div *ngFor="let pers of listaPersonalizzate">
          <ion-item *ngIf="pers.ta_tipologia==='T'">
            <ion-label>{{pers.ta_proprieta}}</ion-label>
            <ion-input disabled="{{conclusa}}" value="{{pers.attivita_valori.ta_valore_t}}"
              (ionChange)="valoreTChanged($event, pers.tipo_attivita_proprieta_key)"></ion-input>
          </ion-item>
          <ion-item *ngIf="pers.ta_tipologia==='D'">
            <ion-label stacked>{{pers.ta_proprieta}} </ion-label>
            <ion-datetime disabled="{{conclusa}}" [(ngModel)]="pers.attivita_valori.ta_valore_d"
              displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="CANCELLA"
              (ionChange)="valoreDChanged($event, pers.tipo_attivita_proprieta_key)"></ion-datetime>
          </ion-item>
          <ion-item *ngIf="pers.ta_tipologia==='N'">
            <ion-label>{{pers.ta_proprieta}}</ion-label>
            <ion-input type="number" disabled="{{conclusa}}" value="{{pers.attivita_valori.ta_valore_n}}"
              (ionChange)="valoreNChanged($event, pers.tipo_attivita_proprieta_key)"></ion-input>
          </ion-item>

          <ion-item *ngIf="pers.ta_tipologia==='O'">
            <ion-label>{{pers.ta_proprieta}}</ion-label>
            <ion-toggle disabled="{{conclusa}}" [checked]="pers.c_valori[0].ta_selected ==='S'"
              (ionChange)="valoreOChanged($event, pers.tipo_attivita_proprieta_key)"></ion-toggle>
          </ion-item>

          <ion-item *ngIf="pers.ta_tipologia==='S'">
            <ion-list-header color="light">{{pers.ta_proprieta}}</ion-list-header>
            <ion-label stacked>{{pers.ta_proprieta}}</ion-label>
            <ion-select [(ngModel)]="valoreSKey" disabled="{{conclusa}}" (ionChange)="valoreSChanged(pers.c_valori)">
              <ion-select-option *ngFor="let valoreS of pers.c_valori" [value]="valoreS.tipo_attivita_proprieta_valori_key"
                ><!--[selected]="valoreS.ta_selected ==='S'"-->
                {{valoreS.ta_testo}}</ion-select-option>
            </ion-select>
          </ion-item>

          <div *ngIf="pers.ta_tipologia==='M'">
            <ion-list-header color="light">{{pers.ta_proprieta}}</ion-list-header>
            <ion-item *ngFor="let valoreM of pers.c_valori">
              <ion-label><small>{{valoreM.ta_testo}}</small></ion-label>
              <ion-checkbox slot="end" disabled="{{conclusa}}" [checked]="valoreM.ta_selected ==='S'"
                (ionChange)="valoreMChanged(valoreM.tipo_attivita_proprieta_valori_key, pers.tipo_attivita_proprieta_key)">
              </ion-checkbox>
            </ion-item>
          </div>
        </div>
      </ion-list>

      <ion-list *ngSwitchCase="'Assegnazioni'">
        <ion-item color="primary-lighter" class="ion-section-title">
          <ion-label>Assegnazioni</ion-label>
        </ion-item>
        <ion-item-sliding *ngFor="let assegnazione of listaAssegnazioni">
          <ion-item text-wrap>
            <ion-avatar item-start>
              <img src="../assets/imgs/thumb-user.png">
              <!--<img src="{{mess.url_avatar}}">-->
            </ion-avatar>
            <h2>{{assegnazione.dp_cognome}} {{assegnazione.dp_nome}}</h2>
            <p><small>ruolo aziendale</small> {{assegnazione.tab_ruolo_aziendale_desc}}</p>
            <p><small>responsabile</small> {{(assegnazione.att_dip_scelta==="R" ? "Sì" : "No")}}</p>
          </ion-item>
          <ion-item-options side="left" *ngIf="!conclusa">
            <button ion-button color="danger" (click)="presentAlertConfirm(assegnazione)">
              <ion-icon name="trash"></ion-icon>
              Cestino
            </button>
          </ion-item-options>
          <ion-item-options side="right" *ngIf="!conclusa">
            <button ion-button color="warning" (click)="openMessage(assegnazione)">
              <ion-icon name="send"></ion-icon>
              Messaggio
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <ion-list *ngSwitchCase="'Immagini'">
        <ion-item color="primary-lighter" class="ion-section-title">
          <ion-label>Immagini</ion-label>
        </ion-item>
        <ion-item-sliding *ngFor="let imm of listaImmagini">
          <ion-item>
            <img src="{{imm.img_url+imm.img_file}}" style="height: 200px">
          </ion-item>
          <ion-item-options side="left" *ngIf="!conclusa">
            <button ion-button color="danger" (click)="presentAlertEliminaImmagine(imm)">
              <ion-icon name="trash"></ion-icon>
              Elimina
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </ion-list>
</ion-content>
<ion-footer [ngSwitch]="whichPage" class="ion-text-center">
  <ion-toolbar *ngSwitchCase="'Osservazione'" color="primary">
    <ion-grid>
      <ion-row text-center>
        <ion-col *ngIf="!conclusa" (click)="salvaOsservazione()">
          <ion-icon name="checkmark-circle" style="font-size: 2em;"></ion-icon><br>
          Salva
        </ion-col>
        <ion-col *ngIf="selectedOsservazione" (click)="chiudiOsservazione()">
          <ion-icon name="archive" style="font-size: 2em;"></ion-icon><br>
          Chiusura
        </ion-col>
        <ion-col *ngIf="selectedOsservazione && !conclusa" (click)="presentAlertEliminaOsservazione()">
          <ion-icon name="trash" style="font-size: 2em;"></ion-icon><br>
          Elimina
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar *ngSwitchCase="'Assegnazioni'">
    <ion-grid *ngIf="selectedOsservazione && !conclusa">
      <ion-row text-center>
        <ion-col (click)="goToNuovaAssegnazione()">
          <ion-icon name="contact" style="font-size: 2em;"></ion-icon><br>Nuova Assegnazione
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <div *ngIf="selectedOsservazione && !conclusa">
    <ion-toolbar *ngSwitchCase="'Immagini'">
      <ion-grid>
        <ion-row text-center>
          <ion-col *ngIf="selectedOsservazione" (click)="presentImmagineActionSheet()">
            <ion-icon name="add-circle-outline" style="font-size: 2em;"></ion-icon><br>Nuova Immagine
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </div>
</ion-footer>