.border-blue{
    border-width : 0.5em;
    border-color : blue;
}

.border-green{
    border-width : 0.5em;
    border-color : green;
}

.box {
    float: left;
    margin-left : 1em;
  }

.data{
    border-width : 0.5em;
    border-color : green;
}

.messaggi-action {
    text-align
    : center;
}

.anteprima_mess {
    padding-top: .5em;
    font-size: .75em;
}
.titolo {
    font-size: 16px;
    font-weight: bold;
}
h3{
    font-size: 14px;
}

