<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Documento</ion-title>
    <ion-buttons end>
      <div class="icon-section">
        <i [ngClass]="icon" [ngStyle]="{'color' : color }"></i>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngIf="selectedDocumento">
    <ion-card-header padding text-wrap>
      {{selectedDocumento.doc_titolo}}
    </ion-card-header>
    <ion-card-content padding>
      <h3>Codice </h3>
      <p>{{selectedDocumento.az_codice_interno}}</p>
      <hr>
      <h3>Sito </h3>
      <p>{{selectedDocumento.az_ragione_sociale}}</p>
      <hr>
      <h3>Codice documento </h3>
      <p>{{selectedDocumento.doc_codice}}</p>
      <hr>
      <h3>Descrizione </h3>
      <p>{{selectedDocumento.doc_descrizione}}</p>
      <hr>
      <h3>Tipologia </h3>
      <p>{{selectedDocumento.tab_tipo_documento_desc}}</p>
      <hr>
      <h3>Versione </h3>
      <p>{{selectedDocumento.doc_versione}}</p>
      <hr>
      <h3>Cartella </h3>
      <p>{{selectedDocumento.ultima_rev.doc_userfolder  }}</p>
      <hr>
      <h3>Data scadenza </h3>
      <p>{{selectedDocumento.doc_data_scadenza}}</p>
      <!--<p>Link </p><p><a href="{{selectedDocumento.doc_url}}">Link documento</a></p></!--<p>-->
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer >
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <a (click)="downloadFile()">
            <ion-icon name="download" style="font-size: 2em;"></ion-icon>
            <br>Scarica File
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>