<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Sito</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="whichPage">
      <ion-segment-button value="Sito" checked (ionSelect)="segmentSitoClicked($event)">
          <ion-icon name="information-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Catastale" (ionSelect)="segmentCatastaleClicked($event)">
          <ion-icon name="albums"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Procedimenti" (ionSelect)="segmentProcedimentiClicked($event)">
          <ion-icon name="list"></ion-icon>
      </ion-segment-button>
      <!--<ion-segment-button value="Grafico" (ionSelect)="segmentGraficoClicked($event)">
          <ion-icon name="pie"></ion-icon>
      </ion-segment-button>-->
      <ion-segment-button value="Mappa" (ionSelect)="segmentMappaClicked($event)">
          <ion-icon name="pin"></ion-icon>
      </ion-segment-button>
      <!--<ion-segment-button value="Immagini" (ionSelect)="segmentImmaginiClicked($event)">
          <ion-icon name="images"></ion-icon>
      </ion-segment-button>-->
  </ion-segment>
</ion-header>

<ion-content>
  <div [ngSwitch]="whichPage">
      <ion-list *ngSwitchCase="'Sito'">
          <ion-item color="primary-lighter" class="ion-section-title">
              Sito
          </ion-item>
          <div *ngIf="selectedSito">
              <ion-list-header text-wrap>
                  <h3>{{selectedSito.az_ragione_sociale}}</h3>
              </ion-list-header>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Codice</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{selectedSito.az_codice_interno}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Indirizzo</p>
                          </ion-col>
                          <ion-col  size="8" class="dato">
                          <p>{{selectedSito.indirizzo_completo}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Cliente </p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{selectedSito.gruppo_desc}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Estensione </p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{selectedSito.az_estensione}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Note </p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{selectedSito.az_note}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Responsabile </p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{selectedSito.az_responsabile_desc}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
          </div>
      </ion-list>

      <ion-list *ngSwitchCase="'Catastale'">
          <ion-item color="primary-lighter" class="ion-section-title">
              <ion-label>Catastale</ion-label>
          </ion-item>
          <div *ngIf="catastale.length === 0">
              <ion-item>
                  <p>Nessun elemento catastale</p>
              </ion-item>
          </div>
          <div *ngFor="let c of catastale">
              <ion-list-header color="light">
                  <ion-label>Settore</ion-label>
                  <ion-note>
                      <p class="dato">{{c.azc_settore}}</p>
                  </ion-note>
              </ion-list-header>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Descrizione </p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{c.azc_desc}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Tipo proprietà </p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{c.tab_tipo_proprieta_desc}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Stato proprietà </p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{c.azc_settore}}</p>
                              <p>{{c.tab_stato_proprieta_desc}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
          </div>
      </ion-list>

      <ion-list *ngSwitchCase="'Procedimenti'">
          <ion-item color="primary-lighter" class="ion-section-title">
              <ion-label>Procedimenti</ion-label>
          </ion-item>
          <div *ngIf="procedimenti.length === 0">
              <ion-item>
                  <p>Nessuna procedimento</p>
              </ion-item>
          </div>
          <div *ngFor="let procedimento of procedimenti">
              <ion-list-header color="light" text-wrap>
                  <ion-note>
                      <p class="dato">{{procedimento.pro_titolo}}</p>
                  </ion-note>
              </ion-list-header>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Stato</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p *ngIf="procedimento.pro_chiuso != 'S'">
                                  Aperto
                              </p>
                              <p *ngIf="procedimento.pro_chiuso == 'S'">
                                  Chiuso
                              </p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap>
                  <ion-grid no-padding>
                      <ion-row>
                          <ion-col>
                              <p>Tipo</p>
                          </ion-col>
                          <ion-col size="8" class="dato">
                              <p>{{procedimento.tab_tipo_procedimento_desc}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-item>
              <ion-item text-wrap
                  *ngIf="procedimento && procedimento.pr_scadute > 0">
                  <ion-icon name="alert-circle" color="danger" slot="start"></ion-icon>
                  &nbsp;Scadute&nbsp;
                  <ion-badge slot="end" color="danger">{{procedimento.pr_scadute}}</ion-badge>
              </ion-item>
              <ion-item text-wrap
                  *ngIf="procedimento && procedimento.pr_in_scadenza > 0">
                  <ion-icon name="time" color="alert" slot="start"></ion-icon>
                  &nbsp;In scadenza&nbsp;
                  <ion-badge slot="end" color="alert">{{procedimento.pr_in_scadenza}}</ion-badge>
              </ion-item>
              <ion-item text-wrap
                  *ngIf="procedimento && procedimento.pr_prossime > 0">
                  <ion-icon name="information-circle" color="future" slot="start"></ion-icon>
                  &nbsp;Future&nbsp;
                  <ion-badge slot="end" color="favorite">{{procedimento.pr_prossime}}</ion-badge>
              </ion-item>
              <ion-item text-wrap
                  *ngIf="procedimento && procedimento.pr_senza_data > 0">
                  <ion-icon name="help-circle" color="no-date" slot="start"></ion-icon>
                  &nbsp;Senza data&nbsp;
                  <ion-badge slot="end" color="no-date">{{procedimento.pr_senza_data}}</ion-badge>
              </ion-item>
              <ion-item text-wrap
                  *ngIf="procedimento && procedimento.pr_vincolate > 0">
                  <ion-icon name="time" color="vincolate" slot="start"></ion-icon>
                  &nbsp;Vincolate&nbsp;
                  <ion-badge slot="end" color="vincolate">{{procedimento.pr_vincolate}}</ion-badge>
              </ion-item>
              <ion-item text-wrap
                  *ngIf="procedimento && procedimento.pr_ottemperate > 0">
                  <ion-icon name="checkmark-circle" color="done" slot="start"></ion-icon>
                  &nbsp;Ottemperate&nbsp;
                  <ion-badge slot="end" color="done">{{procedimento.pr_ottemperate}}</ion-badge>
              </ion-item>

              <div style="margin-top: 20px;"></div>
          </div>
      </ion-list>
      <ion-list *ngSwitchCase="'Grafico'">
          <ion-item color="primary-lighter" class="ion-section-title">
              <ion-label>Grafico Torta</ion-label>
          </ion-item>
          <ion-item text-wrap>
              <canvas #graficoCiccio></canvas>
          </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'Mappa'" [style.height.px]="heightMap">
          <div class="mappa">
            <map-component [mapModel]="mapModel" *ngIf="showMap" (onMarkerClicked)="markerClicked($event)"></map-component>
          </div>
      </ion-list>
      <ion-list *ngSwitchCase="'Immagini'">
          <ion-item color="primary-lighter" class="ion-section-title">
              Immagini
          </ion-item>
      </ion-list>
  </div>

</ion-content>