<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Mappa Dispositivi</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-searchbar placeholder="Ricerca.." (ionBlur)="getDispositivi($event)" color="primary"></ion-searchbar>
  <ion-item color="primary" style="--border-style: none;">
    <ion-label>Tipologia</ion-label>
    <ion-select [(ngModel)]="tipologiaSelezionata" (ionChange)="getDispositivi()">
      <ion-select-option *ngFor="let tipologia of listaTipologie" [value]="tipologia">{{tipologia.tab_tipo_dispositivo_desc}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!--ion-item color="primary" style="--border-style: none;">
    <ion-label>Provincia</ion-label>
    <ion-select [(ngModel)]="provinciaSelezionata" (ionChange)="getDispositivi()">
      <ion-select-option *ngFor="let provincia of listaProvince" [value]="provincia">{{provincia.Descrizione}}</ion-select-option>
    </ion-select>
  </ion-item-->

  <ion-list style="height: 100%;">
    <div class="">
      <map-component [mapModel]="mapModel" *ngIf="showMap" (MarkerClicked)="goToDetailsDispositivo($event)"></map-component>
    </div>
  </ion-list>
  
</ion-content>