<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Osservazioni</ion-title>
    <ion-buttons end>
      <div class="icon-section">
        <i [ngClass]="icon" [ngStyle]="{'color' : color }"></i>
      </div>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar placeholder="Ricerca sito..." (ionBlur)="setSitoFiltro($event)"></ion-searchbar>
  <ion-searchbar placeholder="Ricerca..." (ionBlur)="setProtocolloFiltro($event)"></ion-searchbar>
  <ion-item class="ion-filters">
    <ion-label>Tipologia</ion-label>
    <ion-select [(ngModel)]="tipologiaSelezionata" (ionChange)="setTipologiaFiltro()">
      <ion-select-option *ngFor="let tipologia of listaTipologie" [value]="tipologia">
        {{tipologia.tab_tipo_scadenza_desc}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-filters">
    <ion-label>Stato</ion-label>
    <ion-select [(ngModel)]="statoSelezionato" (ionChange)="setStatoFiltro()">
      <ion-select-option [value]="'N'" selected>Aperte</ion-select-option>
      <ion-select-option [value]="'S'">Chiuse</ion-select-option>
      <ion-select-option [value]="'A'">Tutte</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let osservazione of listaOsservazioni" (click)="goToDetails(osservazione)" text-wrap no-padding>
      <button no-lines ion-item no-margin clear>
        <h2><img [src]="getDotPath(osservazione)" class="list-dot">{{(osservazione.att_protocollo)}} -
          {{osservazione.att_titolo}}</h2>
        <p>{{osservazione.tab_tipo_scadenza_desc}}</p>
        <p class="indirizzo_sito">{{osservazione.az_codice_interno}} {{osservazione.az_ragione_sociale}}</p>
      </button>
    </ion-item>
  </ion-list>
  <!--<ion-list *ngFor="let osservazione of listaOsservazioni" (click)="goToDetails(osservazione)">
        <button no-lines ion-item color="light">Sito {{osservazione.az_codice_interno}} {{osservazione.az_ragione_sociale}}</button>
        <ion-label>{{osservazione.attivita_key}}</ion-label>
        <ion-item><p>Osservazione</p><ion-note item-end><p>{{osservazione.att_titolo}}</p></ion-note></ion-item>
        <ion-item><p>Tipologia</p><ion-note item-end><p>{{osservazione.tab_tipo_scadenza_desc}}</p></ion-note></ion-item>
        <ion-item><p>Data rilevazione</p><ion-note item-end><p>{{osservazione.data_segnalazione}}</p></ion-note></ion-item>
        <ion-item><p>Stato</p><ion-note item-end><p>{{(osservazione.att_conclusa==='S'?"conclusa":"non conclusa")}}</p></ion-note></ion-item>
        <ion-item><p>Protocollo</p><ion-note item-end><p>{{(osservazione.att_protocollo)}}</p></ion-note></ion-item>
        <ion-item><p>N.C.</p><ion-note item-end><p>{{(osservazione.num_non_conformita_ris+osservazione.num_non_conformita_nonris===osservazione.num_non_conformita_chiuse ? "verde" : "rossa "+osservazione.num_non_conformita_nonris)}}</p></ion-note></ion-item>
        <ion-item><p>Dispositivo</p><ion-note item-end><p>{{osservazione.att_dispositivo_key}}</p></ion-note></ion-item>
    </ion-list>-->
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles"
    loadingText="Caricamento Osservazioni...">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row text-center>
        <ion-col (click)="goToNuovaOsservazione()">
          <ion-icon name="add-circle" style="font-size: 2em;"></ion-icon><br>Nuova osservazione
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>