<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Osservazioni</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Ricerca sito..." (ionBlur)="setSitoFiltro($event)" color="primary"></ion-searchbar>
  <ion-searchbar placeholder="Ricerca..." (ionBlur)="setProtocolloFiltro($event)" color="primary"></ion-searchbar>
  <ion-item style="--border-style: none;" color="primary">
    <ion-label>Tipologia</ion-label>
    <ion-select [(ngModel)]="tipologiaSelezionata" (ionChange)="setTipologiaFiltro()">
      <ion-select-option *ngFor="let tipologia of listaTipologie" [value]="tipologia">
        {{tipologia.tab_tipo_scadenza_desc}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item style="--border-style: none;" color="primary">
    <ion-label>Stato</ion-label>
    <ion-select [(ngModel)]="statoSelezionato" (ionChange)="setStatoFiltro()">
      <ion-select-option [value]="'N'" selected>Aperte</ion-select-option>
      <ion-select-option [value]="'S'">Chiuse</ion-select-option>
      <ion-select-option [value]="'A'">Tutte</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let osservazione of listaOsservazioni" (click)="goToDetails(osservazione)" text-wrap no-padding>
      <a>
        <h2><img [src]="getDotPath(osservazione)" class="list-dot">{{(osservazione.att_protocollo)}} -
          {{osservazione.att_titolo}}</h2>
        <p>{{osservazione.tab_tipo_scadenza_desc}}</p>
        <p class="indirizzo_sito">{{osservazione.az_codice_interno}} {{osservazione.az_ragione_sociale}}</p>
      </a>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles"
    loadingText="Caricamento Osservazioni...">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col (click)="goToNuovaOsservazione()">
          <ion-icon name="add-circle" style="font-size: 2em;"></ion-icon><br>Nuova osservazione
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>