* ::-webkit-scrollbar {
  display: none;
}

.card {
    margin-top: 12px !important;
}

  ion-menu {
    --ion-background-color: var(--ion-color-menu);
    --ion-text-color: var(--ion-color-primary-contrast);

  ion-toolbar {
    --background: var(--ion-color-menu);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  ion-list {/* optional, but it needs when you use gradient as a background color.*/
    background: var(--ion-color-menu);
    border: none;
  }

  ion-item {
    height: 35px;
    font-size: .9em;
    color: #fff!Important;
    padding: 0rem;
    padding-left: 10px;;
  }

  ion-icon {
      color: var(--ion-color-tertiary);
      margin-right: 15px;
      font-size: .9em;
  }


}


.menu-inner {
    .toolbar {
        padding: 0 !important;
    }
    .toolbar-content, .toolbar-background {
        background-color: --ion-color-menu;
        padding: 6px;
    }
    .content {
        background: none;
        color: #fff;
    }

  .item {
        border: none !important;
        background: none;
        .item-inner {
            border: none !important;
            color:rgba(255,255,255,1)!Important;
            font-size: .9em;
            border-color: var(--ion-color-primary);
            
        }
        .icon {
            font-size: 1.2em;
            line-height: 1.5em;
            margin: 0 5px 0 0;
            border: none !important;
            color: --ion-color-tertiary;
            
        }
    }
}

// ion-app {
    
    ion-header {
      //background-color: var(--ion-color-menu);
    }

    ion-footer {
      background-color: var(--ion-color-menu);
      color: white;
    }

    ion-toolbar {
      background-color: var(--ion-color-menu);
      *{
            color: #fff !important;
        }
    }

    .toolbar-background {
      background-color: --ion-color-light;
    }
    .toolbar-title, .bar-button-default {
      color: white;
    }
    .segment-button {
        height: 4rem;
        line-height: 5rem;
        border-top: 0;
        //border-bottom: 0;
        &:first-of-type {
            border-radius: 0;
            border-left: 0;
        }
        &:last-of-type {
            border-radius: 0;
            border-right: 0;
        }
    }

    textarea, input:not(.searchbar-input){
        background-color: rgba(0,0,0,.02) !important;
        padding: 4px;
        font-size: 14px;
    }

// }

.anteprima_mess {
    padding-top: .5em;
    font-size: .75em;
}

.hidden {
    display: none;
}
