<ion-menu contentId="content">

  <ion-header >
    <ion-toolbar >
      <img src="assets/imgs/logo-gisco.png" style="padding:10px 120px 10px 0">
    </ion-toolbar>
  </ion-header>

  <ion-content >
    <ion-list *ngIf="viewMenu" >
      <ion-item ion-item *ngFor="let p of pages" (click)="openPage(p)" lines="none">
        <ion-icon name="{{p.icon}}" item-left></ion-icon>
        {{p.title}} <ion-badge color="secondary">{{getNumeroNotifiche(p.title)}}</ion-badge>
      </ion-item>
    </ion-list>
    <ion-list class="mt-3" >
      <ion-item ion-item (click)="goToSettings()" lines="none">
        <ion-icon name="settings" item-left></ion-icon>
        Settings
      </ion-item>
      <ion-item ion-item (click)="logOut()" lines="none">
        <ion-icon name="log-out" item-left></ion-icon>
        Logout
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- <ion-menu type="overlay" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar >
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->

<ion-app>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
