<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title class="ion-text-center">Comunicazioni</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="rounded-generic-card">
      <ion-card-header class="generic-card-header blue-header">
          <ion-card-title padding text-wrap>
              {{selectedProcedimento.az_ragione_sociale}}<br>
              <hr>
              <small>{{selectedProcedimento.pro_titolo}}</small>
          </ion-card-title>
      </ion-card-header>
      <ion-card-content no-padding>
          <ion-list class="comunicazioni">
              <ion-row>
                  <ion-col>
                      <p style="margin-bottom: 5px">Numero di comunicazioni <ion-badge>
                              {{selectedProcedimento.stato_prescrizioni.comunicazioni}}</ion-badge>
                      </p>

                      <!-- <ion-badge>Numero di procedimenti <ion-badge>{{procedimentiTot}}</ion-badge></p> -->

                  </ion-col>
              </ion-row>
              <ion-row class="header-col">
                  <ion-col>ingresso</ion-col>
                  <ion-col style="text-align: right">uscita</ion-col>
              </ion-row>
              <ion-row *ngFor="let comunicazioni of listaComunicazioni" class="com-list">
                  <div class="data">{{(comunicazioni[0].comunicazioni_key === 0 ? comunicazioni[1].com_data : comunicazioni[0].com_data) | date: 'dd-MM-yyyy'}}</div>
                  <ion-col (click)="goToDetails($event, comunicazioni[0])" class="ingresso">
                      <p *ngIf="comunicazioni[0].comunicazioni_key != 0"
                          [ngStyle]="{'text-align': (comunicazioni[0].com_in_out === 'I' ? 'left' : 'right')}">
                          {{comunicazioni[0].com_titolo}}
                      </p>
                      <ion-icon [name]="getPreIcon(comunicazioni[0])" [color]="getPreColor(comunicazioni[0])" 
                                *ngIf="comunicazioni[0].pr_totali>0"></ion-icon>
                  </ion-col>
                  <ion-col (click)="goToDetails($event, comunicazioni[1])" class="uscita">
                      <p *ngIf="comunicazioni[1].comunicazioni_key != 0"
                      [ngStyle]="{'text-align': (comunicazioni[1].com_in_out === 'I' ? 'left' : 'right')}">
                      {{comunicazioni[1].com_titolo}}</p>
                      <ion-icon [name]="getPreIcon(comunicazioni[1])" [color]="getPreColor(comunicazioni[1])" 
                                *ngIf="comunicazioni[1].pr_totali>0"></ion-icon>
                  </ion-col>
                  </ion-row>
          </ion-list>
      </ion-card-content>
  </ion-card>
</ion-content>