<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title class="ion-text-center">Messaggi</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Ricerca..." (ionBlur)="setMessaggiFiltro($event)" color="primary"></ion-searchbar>
</ion-header>
<ion-content>

  <ion-list>
      <ion-item-sliding *ngFor="let mess of listaMessaggi">
          <ion-item text-wrap (click)="goToDetails(mess)">
              <ion-avatar slot="start">
                  <img src="../assets/imgs/thumb-user.png">
                  <!--<img src="{{mess.url_avatar}}">-->
              </ion-avatar>
              <ion-label>
                <h3>{{mess.cognome_mit}} {{mess.nome_mit}}</h3>
                <p class="anteprima_mess">{{mess.soggetto}}</p>
                <p class="anteprima_mess">
                    <ion-icon slot="end" name="star" color="warning" style="padding-right:10px;" *ngIf="mess.preferito == 'S'"></ion-icon>
                    <small>{{mess.data | date:'dd/MM/yyyy HH:mm'}}</small>
                </p>
            </ion-label>
          </ion-item>
          <ion-item-options side="start">
              <button ion-button class="danger" (click)="deleteConfirm(mess)">
                  <ion-icon name="trash"></ion-icon>
                  Cestino
              </button>
          </ion-item-options>
          <ion-item-options side="end">
              <button ion-button class="warning" (click)="setStar(mess)">
                  <ion-icon name="star-outline"></ion-icon>
                  Importante
              </button>
              <button ion-button class="future" (click)="goToDetails(mess)">
                  <ion-icon name="eye"></ion-icon>
                  Leggi
              </button>
          </ion-item-options>
      </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles"
      loadingText="Caricamento Messaggi...">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-footer class="ion-text-center">
  <ion-toolbar color="primary">
      <ion-grid>
          <ion-row text-center>
              <ion-col (click)="goToNuovoMessaggio()">
                  <ion-icon name="create" style="font-size: 2em;"></ion-icon><br>
                  Nuovo
              </ion-col>
              <ion-col (click)="goToUscitaMessaggi()">
                  <ion-icon name="send" style="font-size: 2em;"></ion-icon><br>
                  Uscita
              </ion-col>
              <ion-col (click)="goToImportantiMessaggi()">
                  <ion-icon name="star" style="font-size: 2em;"></ion-icon><br>
                  Importanti
              </ion-col>
              <ion-col (click)="goToCestinoMessaggio()">
                  <ion-icon name="trash" style="font-size: 2em;"></ion-icon><br>
                  Cestino
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-footer>