<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Tipologie Documenti</ion-title>
  </ion-toolbar>
  <ion-buttons end>
    <div class="icon-section">
      <!--<i [ngClass]="{'icon': true}" [ngStyle]="{'color' : color }"></i>-->
    </div>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label *ngIf="selectedCartella">{{selectedCartella.tab_cartelle_documenti_desc}}</ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="4" size-sm="3" size-lg="2" class="icon-folder" *ngFor="let cartella of listaCartelle"
        (click)="goToElencoDocumenti($event, cartella)">
        <ion-label>{{cartella.tab_tipo_documento_desc}}</ion-label>
        <ion-badge>{{cartella.sistemi}}</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>