<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title class="ion-text-center">Comunicazione</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="whichPage">
      <ion-segment-button value="Comunicazione" checked (ionSelect)="segmentComunicazioneClicked($event)">
          <ion-icon name="chatbubbles"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Files" checked (ionSelect)="segmentFilesClicked($event)">
          <ion-icon name="document"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Prescrizioni" (ionSelect)="segmentPrescrizioniClicked($event)">
          <ion-icon name="list"></ion-icon>
      </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <div *ngIf="selectedComunicazione" [ngSwitch]="whichPage">
      <ion-list *ngSwitchCase="'Comunicazione'">
          <ion-item color="primary-lighter" class="ion-section-title">
              <ion-label>Comunicazione</ion-label>
          </ion-item>
          <ion-list-header text-wrap color="light">
              <h3>{{selectedComunicazione.com_titolo}}</h3>
          </ion-list-header>
          <ion-item text-wrap>
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Sito</p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{procedimento.az_codice_interno}} - {{procedimento.az_ragione_sociale}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap *ngIf="selectedComunicazione.pro_titolo !== ''">
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Procedimento</p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{selectedComunicazione.pro_titolo}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap *ngIf="selectedComunicazione.tab_fase_procedimento_desc !== ''">
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Fase procedimento</p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{selectedComunicazione.tab_fase_procedimento_desc}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap *ngIf="!hideDate(selectedComunicazione.com_data)">
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Data Comunicazione</p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>
                              {{selectedComunicazione.com_data | date:'dd/MM/yyyy'}}
                          </p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap *ngIf="selectedComunicazione.tab_tipo_comunicazione_desc !== ''">
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Tipologia</p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{selectedComunicazione.tab_tipo_comunicazione_desc}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap *ngIf="selectedComunicazione.com_descrizione !== ''">
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Descrizione</p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{selectedComunicazione.com_descrizione}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap *ngIf="selectedComunicazione.com_mittente !== ''">
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Mittente</p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{selectedComunicazione.com_mittente}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap *ngIf="selectedComunicazione.com_destinatario !== ''">
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Destinatario</p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{selectedComunicazione.com_destinatario}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap *ngIf="selectedComunicazione.com_in_out !== ''">
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Ingresso / Uscita</p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{selectedComunicazione.com_in_out}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap *ngIf="selectedComunicazione.tab_verso_comunicazione_desc !== ''">
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Verso</p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{selectedComunicazione.tab_verso_comunicazione_desc}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap *ngIf="!hideDate(selectedComunicazione.com_protocollo_data)">
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Data Protocollo</p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>
                              {{selectedComunicazione.com_data | date:'dd/MM/yyyy'}}
                          </p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
          <ion-item text-wrap *ngIf="selectedComunicazione.com_protocollo_cod !== ''">
              <ion-grid no-padding>
                  <ion-row>
                      <ion-col>
                          <p>Codice Protocollo</p>
                      </ion-col>
                      <ion-col size="8" class="dato">
                          <p>{{selectedComunicazione.com_protocollo_cod}}</p>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'Files'">
          <ion-item color="primary-lighter" class="ion-section-title">
              <ion-label>Files</ion-label>
          </ion-item>
          <ion-item *ngFor="let f of selectedComunicazione.com_files" text-wrap>
              <ion-thumbnail slot="start">
                  <a (click)="downloadFile(f)">
                      <img src="/assets/imgs/ios-doc-icon.png">
                  </a>
              </ion-thumbnail>
              <h3>{{f.cof_file}}</h3>
          </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'Prescrizioni'">
          <ion-item color="primary-lighter" class="ion-section-title">
              <ion-label>Prescrizioni</ion-label>
          </ion-item>
          <ion-list>
              <div *ngFor="let prescrizione of selectedComunicazione.prescrizioni"
                  (click)="goToDetails($event, prescrizione)">
                  <ion-list-header color="light">
                      <ion-note>
                          <p>{{prescrizione.pre_descrizione}}</p>
                      </ion-note>
                  </ion-list-header>
                  <ion-item>
                      <ion-label position="stacked">Tipologia</ion-label>
                      <ion-note slot="end">
                          <p>{{prescrizione.tab_tipo_prescrizione_desc}}</p>
                      </ion-note>
                  </ion-item>

                  <ion-item>
                      <ion-label position="stacked">Scadenza</ion-label>
                      <ion-note slot="end">
                          <p *ngIf="!prescrizione.pre_data_scadenza.includes('0001')">
                              {{prescrizione.pre_data_scadenza | date:'dd/MM/yyyy'}}</p>
                      </ion-note>
                  </ion-item>
                  <ion-item>
                      <ion-label position="stacked">Stato</ion-label>
                      <ion-note slot="end">
                          <p>
                            <ion-icon [name]="getPreIcon(prescrizione)" [color]="getPreColor(prescrizione)"></ion-icon>
                            {{prescrizione.pre_stato_desc}}
                          </p>
                      </ion-note>
                  </ion-item>
              </div>
          </ion-list>
      </ion-list>
  </div>

</ion-content>